<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{album.1}}</title>
</head>
<body>
    <h2>Vista de Consulta</h2>
    
    <br>
    <table>
        <thead>
        <tr>
            <td>Id:</td>
            <td>Album:</td>
            <td>Artista:</td>
            <td>Año de publicacion:</td>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>{{ album.0}}</td>
                <td>{{ album.1}}</td>
                <td>{{ album.2}}</td>
                <td>{{ album.3}}</td>
                <td><a href="/actualizarAlbum/{{ album.0 }}">Actualizar</a></td>
                <td><a href="#">Eliminar</a></td>
                
            </tr>
        </tbody>
    </table>

     <a href="/">Regresar al formulario</a>
</body>
</html>